@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #F2C2D1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { 
  text-align:right; 
}

input:-moz-placeholder { 
  text-align:right; 
}

a {
  font-weight: 500;
  color: #5E1735;
  text-decoration: inherit;
}
a:hover {
  color: #F2C2D1;
}

body {
  background-image: url('/trippy.dippy.svg');
  background-size: 500px 100;
  background-repeat: repeat-x repeat-y;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F2C2D1;
  color: #5E1735;
  border: 1px solid #BF3475;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #5E1735;
  color: #F2C2D1;
  border: 1px solid #BF3475;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  color: #F2C2D1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

tr {
  border-radius: 10px;
  background-color: #200B30;
  color: #F2C2D1;
}

tbody tr:nth-child(odd) {
  background-color: #300B22;
}

.nav {
  /*width: 98vw; /* Full viewport width */
  display: flex;
  padding: 1em 2em;
  background-color: #300B22
}

.nav ul {
  display: flex;
  margin-left: auto;
  flex-direction: row;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; 
  font-weight: 900;
  letter-spacing: 1px;
  color: #BF3475;
}

.nav-title a {
  color: #BF3475;
}

.nav-item {
  display: block;
  margin-left: auto;
  list-style: none;
}

.nav-link {
  color: #F2C2D1;
  text-decoration: none;
}

.logoutBtn {
  background-color: #F2C2D1;  
  color: #5E1735;            
  border: 1px solid #BF3475;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logoutBtn:hover {
  background-color: #5E1735;
  color: #F2C2D1;
  border: 1px solid #BF3475;
}


.new-ticket-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 1em 0;
}

.newTicketBtn {
  background-color: #F2C2D1;
  color: #5E1735;
  border: 1px solid #BF3475;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.newTicketBtn:hover {
  background-color: #5E1735;
  color: #F2C2D1;
  border: 1px solid #BF3475;
}

.newTicketBtn a {
  text-decoration: none;
  color: inherit;
}


.active {
  font-weight: 700;
}

.table {
  width: 80vw;
  table-layout: fixed;
}

.board {
  width: 100%;
  height: 100vh; 
}

.board-display {
  display: flex;
  height: 100vh; 
  align-items: stretch;
}

.swim-lane {
  text-align: center;
  
  font-weight: 900;
  font-size: clamp(1rem, 2vw, 1.2rem);
  width: 33%;
  height: auto; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px;
  padding: 5px;
  color: #F2C2D1;
}

.todo {
  background-color: rgba(65, 23, 95, 0.7); /* #41175F */
}

.inprogress {
  background-color: rgba(90, 28, 82, 0.7); /* #5E1735 */
}

.done {
  background-color: rgba(116, 33, 68, 0.7); /* #742144 */
}

.ticket-card {
  text-align: left;
  font-weight: 400; 
  background-color: rgba(32, 11, 48, 0.8);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 0.1em solid #2F4ECD;
  color: #F2C2D1;
}

.container {
  width: 100%;
}

#create-ticket-link {
  display: block;
  margin-left: auto;
  color: #F2C2D1;
}


.form {
  width: 75%;
  height: 100%;
  background-color: rgba(65, 23, 95, 0.7); /* #41175F */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > h1, .form > label {
  color: #0D044E;
  text-align: center;
  text-shadow: 0 0 3px #F2C2D1, 0 0 6px #F2C2D1;
}

.form > input {
  width: 200px;
  background-color: #300B22;
  color: #F2C2D1;
  border: 1px solid #BF3475;
}

.form > label {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.form button {
  margin-top: 2.5%;
  background-color: #300B22;
  color: #F2C2D1;
  border: 1px solid #BF3475;
}

.form button:hover {
  background-color: #F2C2D1;
  color: #300B22;
  border: 1px solid #BF3475;
  box-shadow: 0 0 8px #F2C2D1, 0 0 12px #F2C2D1;
}

.form textarea {
  resize: both;
  min-height: 30px;
  min-width: 30px;
  background-color: #300B22;
  color: #F2C2D1;
  border: 1px solid #5E1735;
}

.editBtn {
  background-color: #300B22;
  color: #F2C2D1;
  border-radius: 8px;
  border: 1px solid #BF3475;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 0.5rem;
}

.deleteBtn {
  background-color: #5E1735;
  font-weight: 500;
  color: #F2C2D1;
  text-decoration: inherit;
}

.deleteBtn:hover {
  color: #3F64F6;
}

.login-notice {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #C184F1;
  text-shadow: 0 0 4px #742144, 0 0 8px #742144;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #3F64F6;
  }
  button {
    background-color: #C184F1;
    color: #080238;
  }
}